[core]
	editor = nano --wait
[alias]
	c = !git add . && git commit -m
	ca = !git add --all && git commit -m
	amend = !git commit --amend --no-edit
	l = !git log --pretty=format:'%C(blue)%h %C(red)|%C(yellow)%d %C(red)[ %C(cyan)%s %C(red)] - %C(green)%cn%C(red), %C(white)%cr%C(red)'
	s = status
	last = log -1 HEAD
[push]
	followTags = true
[init]
	defaultBranch = main
